h2 {
  text-align: justify;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

#eachRepo {
  float: auto;
  width: 50;
  margin: 10px 10px;
  
}

#eachRepo .name {
  font-weight: bold;
}